# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment folders
env/
venv/

# Ignore VS Code settings
.vscode/

# Ignore secret files
*.env
secrets.json

# Ignore log files
*.log

# Ignore cursor rules
.cursorrules
